
<div class="page-header"> 
  <h1 class="text-primary">Listing Files from <%=@aboutme.name%>'s Google Drive</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="text-primary">File Name</th>
      <th class="text-primary">Last Modified</th>
      <th colspan="0"></th>
    </tr>
  </thead>
  <tbody>
    <%@files.items.each do |file|%>
    <%title=file.title%>
    <%lastmodified=DateTime.strptime(file.modified_date.to_s,'%Y-%m-%dT%H:%M:%S%z')%>
    <tr class="text-primary"><td><%=title%></td> 
    <td><%=lastmodified.strftime("%m/%d/%Y %H:%M")%></td>
    <td><%=link_to 'Open/Download file', file.alternate_link, target: :_blank ,class: 'btn btn-default'%></td>
    </tr>
    
    <%end%>
  </tbody>
</table>
<%=link_to "logout", google_logout_path, class: 'btn btn-default'%>
<%=link_to "upload",google_uploadform_path, class:'btn btn-default'%>
