<div class="page-header"> 
  <h1 class="text-primary">Upload Page. For <%=@aboutme.name%></h1>
</div>
<h5 class="text-primary">Just to be sure, your email is <%=@aboutme.user.email_address%></h5> 
<br>
<%= form_tag({:action => :upload}, :multipart => true) do %>
    <%= file_field_tag 'file' %>
    <%= submit_tag 'Upload' %>
<% end %>

<%=link_to 'Back to Directory', dropbox_listfiles_path,  class: "btn btn-default"%>