<html>
    <%= stylesheet_link_tag "static_pages" %>
    <head>
        <title>You::Drive</title>
    </head>
    <body>
        <div class="header">
            <div id="title">
                <h1>Welcome to YouDrive</h1>
            </div>
            
        </div>
        <div class="middle">
            <div id="copy">
                <p>Browse and Transfer all of Your SFU U Drive Files, Remotely! </p>
            </div>
            <div id="signup_link">
                <p><%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %></p>
                <p><%= link_to "Dropbox Directory", dropbox_listfiles_path, class:"btn btn-lg btn-primary"%></p>
            </div>
        </div>
        <div class="footer">
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div>
    </body>
</html>

