<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "static_pages" %>
    <body>
        <div class="wrapper">
        <div class="row">
        <div class="head">
            <div id="title">
                <h1>Welcome to YouDrive</h1>
            </div>
            
        </div>
        </div>

        <div class="row">
        <div class="middle">
            <div id="copy">
                <p>Browse and Transfer all of Your SFU U Drive Files, Remotely! </p>
            </div>
            <div id="signup_link">
                <p><button type="button" class="btn btn-default btn-lg" id="mySignupBtn">Sign up now!</button></p>
            </div>
        </div>
        </div>
        <div class="push"></div>
        </div>
        <div class="row">
        <div class="footer">
            <ul>
                <li><%= link_to "About", about_path %></li>
                <li><%= link_to "Help", help_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
        </div>
<<<<<<< HEAD

        <!-- Modal -->
        <div class="modal fade" id="mySignupModal" role="dialog">
          <div class="modal-dialog">
            <%= form_for(@user) do |f| %>
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4><span class="glyphicon glyphicon-lock"></span> Sign Up Now</h4>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                  <form role="form">
                    <div class="form-group">
                      <%= f.label :name %>
                      <%= f.text_field :name, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :email %>
                      <%= f.email_field :email, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :password %>
                      <%= f.password_field :password, class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <%= f.label :password_confirmation, "Confirmation" %>
                      <%= f.password_field :password_confirmation, class: 'form-control' %>
                    </div>
                    <br>
                    <%= f.submit "Create my account", class: "btn btn-primary" %>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
              </div>
            <% end %>
          </div>
=======
>>>>>>> presentation
        </div>
    </body>
</html>

<script>
  $(document).ready(function(){
        $("#mySignupBtn").click(function(){
        $("#mySignupModal").modal();
        });
    });
</script>
