<h1>Authentication page</h1>

<% provide(:title, 'Authenticate') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :sfu_computingid %>
      <%= f.text_field :sfu_computingid, class: 'form-control' %>

      <%= f.label :sfu_password %>
      <%= f.password_field :sfu_password, class: 'form-control' %>

      <%= f.submit "Submit", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
