<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
  <div class="wrapper">
  <%= stylesheet_link_tag "static_pages" %>
  
  <% provide(:title, @user.name) %>
  <div class="box">
        <h1>
          <%= image_tag("profile_large.png", :alt => "profile picture") %>
          <%= @user.name %>
        </h1>
        <p>Email: <%= @user.email =%></p>
        <p><%= link_to "Edit your profile", edit_user_path(current_user) =%></p>
        <p>
          <% if not @user.authenticated %>
            <%= link_to "Connect to your U:Drive", controller: "files", action: "auth", id: @user.id %>
          <% end %>
        </p>

  </div>
    <div class="push"></div>
  </div>
  <div class="footer">
      <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
      </ul>
   </div>
   </body>
 </html>
 
