<h1>Authentication page</h1>

<% provide(:title, 'Authenticate') %>

<div class="wrapper">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @user, :url => {:controller => "files", :action => "authenticate"} do |f| %>
        <%= render 'shared/error_messages' %>

        <label for "user_sfu_computingid">SFU Computing ID</label>
        <%= f.text_field :sfu_computingid, class: 'form-control' %>

        <label for="user_sfu_password">Password</label>
        <%= f.password_field :sfu_password, class: 'form-control' %>

        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
  
