<div class="page-header"> 
  <h1 class="text-primary">Listing Files from <%= @user.name.capitalize! %>'s SFU U:</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="text-primary">File Name</th>
      <th colspan="0"></th>
    </tr>
  </thead>
  <tbody>
    
  <div class="col-md-8 file-list">
    <% @file_list.each do |file| %>
      <% if file[1] == "directory" %>
        <p class="align-left">
          <% @dir = params[:dir] %>
          <tr><td><a href="/list?dir=<%= @dir %>/<%= file[0] %>"><%= file[0] %></a></td></tr>
        </p>
      <% else %>
        <p class="align-left"><tr><td><%= file[0] %></td>
        <td><a href="/download?file=<%= @dir %>/<%= file[0] %>">Download</a></td>
        <td><a href="/remove?file=<%= @dir %>/<%= file[0] %>">Delete</a></td>
        <td><a href="/print?file=<%= @dir %>/<%= file[0] %>">Print</a></td></tr>
        </p>
      <% end  %>
    <% end %>
  </div>
</tbody>
</table>