<h1><%= @user.name.capitalize! %>'s SFU U: Files</h1>

<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name.capitalize! %>
      </h1>
    </section>
  </aside>

  <div class="col-md-8 file-list">
    <% @file_list.each do |file| %>
      <% if file[1] == "directory" %>
        <p class="align-left">
          <% @dir = params[:dir] %>
          <a href="/list?dir=<%= @dir %>/<%= file[0] %>"><%= file[0] %></a>
        </p>
      <% else %>
        <p class="align-left"><%= file[0] %>
        <a href="/download?file=<%= @dir %>/<%= file[0] %>">Download</a>
        <a href="/remove?file=<%= @dir %>/<%= file[0] %>">Delete</a>
        <a href="/print?file=<%= @dir %>/<%= file[0] %>">Print</a>
        </p>
      <% end  %>
    <% end %>
  </div>
</div>

<button type="button" class="btn btn-default" id="myUploadSftpBtn">Upload a File</button>

<!-- Modal -->
<div class="modal fade" id="myUploadSftpModal" role="dialog">
  <div class="modal-dialog">
          
     <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal" onClick="history.go(0)">&times;</button>
          <h4> Upload</h4>
        </div>
        <div class="modal-body" style="padding:45px 50px;">
          <%= form_for @upload, html: {multipart: true, class: "dropzone needsclick dz-clickable", id: "file-dropzone"} do |u| %>
            <div class="dz-message" data-dz-message><span></span><h2>Drop files here or click to upload.</h2></span></div>
          <% end %>
         </div>
         <div class="modal-footer">
           <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal" onClick="history.go(0)"> Close</button>
         </div>
    </div>
  </div>
</div> 
  
<script>
    $(document).ready(function(){
        $("#myUploadSftpBtn").click(function(){
        $("#myUploadSftpModal").modal();
        });
    });

    $(document).ready(function(){
        $("#file-dropzone").dropzone({
            paramName: "upload[file]",
        }); 
    });
</script> 
