
<div class="page-header"> 
  <h1 class="text-primary">Listing Files from <%=@account_info['display_name']%>'s Dropbox</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th class="text-primary">File Name</th>
      <th class="text-primary">Last Modified</th>
      <th colspan="0"></th>
    </tr>
  </thead>
  <tbody>
    <%if(@entry['is_dir'])%>
        <%@entry['contents'].each do |child|%>
        <%@cp = child['path']      # child path%>
        <%@cn = File.basename(@cp)  # child name%>
        <%time=DateTime.strptime(child['modified'],"%a, %d %b %Y %H:%M:%S %z")%>
        <%if (child['is_dir']) then @cn += '/' end# adds another slash after the path if it's a folder to differentiate between files%>
        <tr><td class="text-primary"><%=@cn%></td>
        <td class= "text-primary"><%=time.strftime("%m/%d/%Y %H:%M")%></td><td>
        <%if (child['is_dir']) then%>
          <%=link_to "browse this directory", dropbox_listfiles_path(path: @cp), class: 'btn btn-primary'%>
        <%else%>
          <%=link_to "download this file", dropbox_download_path(path: @cp), class: 'btn btn-success'%>
        <%end%>
        </td></tr>
    <%end%>
    <%else%>
        <tr><td class='text-primary'>File : <%=@entry.inspect%></td></tr>
    <%end%>
    
  </tbody>
  </table>
 
  <button type="button" class="btn btn-success" id="myUploadDBoxBtn">Upload a File</button>
  <%=link_to 'Logout', dropbox_dropsession_path, class: "btn btn-warning"%>
  
  
  <!-- Modal -->
  <div class="modal fade" id="myUploadDBoxModal" role="dialog">
    <div class="modal-dialog">
          
      <!-- Modal content-->
      <div class="modal-content">
          <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal" onClick="history.go(0)">&times;</button>
            <h4> Upload</h4>
          </div>
          <div class="modal-body" style="padding:45px 50px;">
            <%= form_tag({:action => :upload}, :multipart => true, class: "dropzone needsclick dz-clickable") do %>
            <div class="dz-message" data-dz-message><span></span><h2>Drop files here or click to upload.</h2></span></div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-danger btn-default pull-right" data-dismiss="modal" onClick="history.go(0)"> Cancel</button>
          </div>
      </div>
    </div>
  </div> 
  
  <script>
    $(document).ready(function(){
        $("#myUploadDBoxBtn").click(function(){
        $("#myUploadDBoxModal").modal();
        });
    });
  </script>
  
